body {
    font-family: Arial, sans-serif;
}
.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #f0f0f0;
}
input[type="text"] {
    width: calc(43% - 20px);
    padding: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #495250;
    border-radius: 6px;
    color: white;
 }
 .btn input[type='button']:hover{
    background-color: black;
    color: white;
 }